html,body{
  background: url(../images/itl.cat_eye-soothing-wallpaper_1488218.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*input[type=submit]{*/
/*  border: none;*/
/*  border-radius: 4px;*/
/*  cursor: pointer;*/
/*  color: white;*/
/*  background-color: #ff4d4d;*/
/*  font-weight: bold;*/
/*  font-size: 15px;*/
/*}*/

.name{
  color: white;
  margin-left: 20px;
  font-size: 25px;
  font-family: "Source Sans Bold",sans-serif;
  font-weight: bold;
  
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  background: none;
  padding: 20px;
  font-size: 20px;
}

.btn{
  float: right;

}

@media screen and (max-width: 400px) {
  .name, input[type=submit] {
    width: 100%;
    margin:auto;
    padding: 5px;
  }
}